/*@font-face*/
/*{*/
    /*font-family: myFirstFont;*/
    /*src: url('../ttf/HIRAGINO SANS GB W3.OTF');*/
/*}*/

body{
    margin: 0px;
    background-color: #4A7FC1;

    /*font-family:myFirstFont;*/
    font-family: Helvetica;
}

.warning{
   color: #fcc604;
}

.error{
    color: #ff0000;
}


/*导航 */
.my_nav{
    height: 40px;
    background-color: #e9e9e9;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;

}

.my_nav img {
    /*width:  28px;*/
    height: 28px;
}

.my_page .index_line {
    padding-left: 2em;
    text-indent: -1.5em;
    line-height: 18px;
}
/*.my_nav .weixin{*/
    /*margin-left: 16px;*/
/*}*/
/*.my_nav .weixin img{*/
    /*margin-top: 6px;*/
/*}*/

.my_nav .logo{
    margin: 0px;
/*background-color: #00FF00;*/
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;


}
.my_nav .logo img{
    margin-top: 6px;
}

.my_nav .account{

}

.my_nav .account img{
    position:absolute;
    float: right;
    right: 16px;
    margin-top: 6px;
    z-index: 10;
    overflow: auto;
}

.my_nav .weixin img{
    position:absolute;
    float: left;
    left: 16px;
    margin-top: 6px;
    z-index: 10;
    overflow: auto;
}


.my_page{
    margin-top:40px;
    max-width: 640px;
    margin-left: auto;margin-right: auto;

    padding: 0px;
}
.my_page .info_img{
    width: 100%; height: auto;
    margin-bottom: -10px;
}

.my_page .main-nav-list{
    margin-left: -40px;
}
.my_page .main-nav-list img{
    width: 35px;
}
.my_page .main-nav-list li{
    float: left;
    padding: 10px 0px 20px 0px;
    width: 25%;
    display: inline-block;
    text-align: center;
}
.my_page .main-nav-list a{
   width: 100%;
    color: white;
    font-weight: bold;
}
.my_page .main-nav-list span{
    display: inline-block;
    font-size: 10px;
    width: 100%;
}

.share-white {
    background-color: #4A7FC1;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    color: white;
}
.share-blank{
    background-color: white;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    color: #333333;
}

/*加入我们*/
.my_page .welcome_content{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 12px;
    margin-top: -2px;
}
.my_page .welcome_content .welcome-name{
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
.my_page .welcome_content .info_img{
    margin-top: 20px;
    margin-bottom: 10px;
}


/*.share span{*/
   /*margin-top: 20px;*/
/*}*/
.share .share-list{
    padding-left: 0px;
}
.share .share-list li{
    display: inline-block;

}
.share .share-list a img {
   width: 33px;
    height:33px;
    padding-right: 20px;
}

.footer_navbar{
    margin-left: -40px;
    overflow: hidden;
}
.footer_navbar ul{
    margin: 0px;
}

.footer_navbar ul li{
    float: left;
    padding: 15px 0px 10px 0px;
    width: 100%;
    display: inline-block;
    text-align: left;
    /*border-top: 1px solid #99C4E4;*/

    color: white;
}

.footer_navbar ul .footer_navbar_li{
    float: left;
    padding: 15px 0px 10px 0px;
    width: 50%;
    display: inline-block;
    text-align: left;
    /*border-top: 1px solid #99C4E4;*/
    height: 40px;
    color: white;
}

.footer_navbar ul li a{
   color: white;
    display: inline-block;
    padding-left: 15px;

}
.footer_navbar ul li img{
    width: 32px;
    float: left;
    padding-left: 10px;
}
.footer_navbar ul li .right span{
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    line-height: 30px;
}
.footer_navbar ul li .left span{
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    line-height: 30px;
}

.footer_navbar select{
    position: absolute;
    top: 0;
    left: 40px;
    width: 100px;
    min-height: 1.5em;
    min-height: 100%;

    opacity: 0;
}

.footer_navbar ul li .policy{
    text-align: center;
    padding-right: 16px;

    font-size: 12px;
}
.footer_navbar ul li .copyright{
    text-align: center;
    font-size: 10px;
}
.footer_navbar ul li .policy a span{
    display: inline-block;
}

/* 愿景 */
.my_page .discreption{
    color: white;
    font-size: 13px;
    margin: 20px;
}
.my_page .discreption div{
    margin-top: 20px;
}

.my_page .oneline{
    line-height: 20px;
    text-align: justify;
}
.my_page .circle{
    width:50px; height:50px;
    border-radius:25px;
    float: left;
}

.my_page .small-circle{
    width:10px; height:10px;
    border-radius:25px;
    float: left;
    /*margin-left: 26px;*/
    margin-top: 5px;
    margin-right: 10px;
}

.my_page .expect_content{
    height:50px;
    line-height:50px;
    display:block;
}

.my_page .expect_list{
    margin-left: -20px;
    color: white;
}

.my_page .expect_list li{
    display: block;
    padding: 15px 0px 10px 0px;

}

/* 幸福定制VIP */
.my_page .cases-list{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    padding: 0px;
}
.my_page .cases-list .case-name{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.my_page .cases-list li{
    display: inline-block;
    background-color: white;

    margin-bottom: 5px;
    text-align: center;
}
.my_page .cases-list li div{
    text-align: center;
    color: #000000;

    margin-left: 10px;
    margin-right: 10px;
    margin: 0px;

    /*border-bottom: 1px solid;*/
}
.my_page .cases-list li h2{
    margin: 0px;
    padding-top: 15px;
}
.my_page .cases-list li div:first-child{
    background-color: #F3F3F3;
}
.my_page .cases-list li div:nth-child(2){
   margin: 15px;
}
.my_page .cases-list li div img{
    width: 150px;
}
.my_page .cases-list li p{
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}


/*登录页面*/
.my_page .sub_head{
   text-align: center;
    color: white;
}

.my_page .cub_content{
    padding: 16px;
    background-color: white;
}

.my_page .login_email, .my_page .login_password{
    padding: 12px;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 0;
    border: 1px solid;
    font-family: Helvetica, sans-serif;
    font-size: 14px;

    margin-left: 0px;
    margin-top: 5px;
}

.my_page .submit{
    width: 100%;
    font-size: 17px;
    height: 44px;
    line-height: 36px;
    padding: 0 16px;
    margin-top: 5px;
    background-color: #003484;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
}

.my_page .qiyeshiyong{
    width: 100%;
    font-size: 17px;
    height: 44px;
    line-height: 36px;
    padding: 0 16px;
    margin-top: 5px;
    /*background-color: #003484;*/
    color: #003484;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
}

.my_page .lianjie{
    text-align: center;

    width: 100%;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-top: 5px;
    color: white;

}
.my_page .lianjie a{
    display:inline-block;
    text-decoration:none;
}

/* 团队 */
.my_page .team{
    display: block;
    height: 200px;
    background-color: white;
    padding-top: 20px;
    background-color: #EDF0F8;
}
.my_page .team .photo{
    position: relative; float: left; width: 100%; top: 20px;left: 20px
}

.my_page .us_info{
    text-align: center;
    padding: -5px;
    color: white;
    font-size: 14px;
}

/*ai botot*/
.my_page .air_content{
    display: block;
    /*background-color: white;*/
}
.my_page .airbobot_info{
    /*height: 100px;*/
    padding: 20px;
    color: white;
    font-size: 14px;
}


/*专家*/
.my_page .expert{
    background-color: white;
    margin-top: -17px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.my_page .expert ul{
    margin-left: -35px ;
    font-size: 10px;
}
.my_page .expert ul li{
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;

}

.my_page .expert li img{

    float: left;
    padding-left: 5px;
    width: 70px;
    display: inline-block;
    text-align: left;

}
.my_page .expert .expert_info{

    margin-left: 85px;
}
.my_page .expert .expert_info div:first-child{
    font-weight: bold;
}

.my_page .expert_info_more{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*产品服务*/
.my_page .chanpinfuwu_info{
    background-color: white;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -2px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 9px;
}

/*社会责任*/
.my_page .shehuizeren_info{
    margin-top: 40px;
    text-align: center;
}

.my_page .shehuizeren_info img{
    width: 40px;
}
.my_page .shehuizeren_info span{
    font-size: 14px;
}

.my_page .shehuizeren_info .shehuizeren_content{
    margin-top: 10px;
    padding-right: 10px;
    text-align: justify;
}
.my_page .shehuizeren_info .shehuizeren_content div{
    margin-left: 15px;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 8px;
    font-size: 12px;
    padding-right: 10px;
}

/*hank*/
.slider-nav{
    /*display: none;*/
    bottom: 10px !important;
}

select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1.5em;
    min-height: 100%;
    height: 3em;
    max-height: 100%;
    outline: 0;
    border-radius: inherit;
    cursor: pointer;
    filter: Alpha(Opacity=1);
    opacity: 0;
    z-index: 2;
    text-align: center;
}

.triangle-right {
    width: 0px; height: 0px;
    border-top: 50px solid transparent;
    border-left: 30px solid red;
    border-bottom: 50px solid transparent;
}

.my_page .info_img_name{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%; height: auto;
}