<div ng-controller="ReportController" style="background: url('image/backgroud.jpg');background-repeat: repeat-y;height: 800px;">
    <!--<ul>-->
        <!--<li style="margin-top: 10px" ng-repeat="oneItem in getAllSortedItems()">-->
            <!--<div>-->
                <!--第{{$index+1}}个题目{{oneItem.id}}的得分是：{{oneItem.result}}-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

    <div class="tian_report">
        <h3>您的性格优势为：</h3>
        <br>
        <p ng-repeat="index in [0,1,2]">
            {{index + 1}}  <b>{{getAllSortedItems()[index].describe.name}}:</b><br> {{getAllSortedItems()[index].describe.content}}
            <br><br>
        </p>

        <br>

        <p>
            此外您其他的优势性格包括：
            <b>{{getAllSortedItems()[4].describe.name}}</b>、
            <b>{{getAllSortedItems()[5].describe.name}}</b>、
            <b>{{getAllSortedItems()[6].describe.name}}</b>
        </p>
        <br><br>
        <h3>您比：</h3>

        <div ng-repeat="index in [0,1,2]">
            <div class="chart_outer chart_tip">
                <div ng-style="style(index)" id="MISD"> &nbsp; {{getMun(index)}}%的人更有{{getAllSortedItems()[index].describe.name}}</div>
            </div>
            <br><br>

            <!--{{getRandom()}}%的人更有{{getAllSortedItems()[index].describe.name}}<br>-->
        </div>
    </div>
    <img src="image/zhuanjia.jpg">
</div>