<div ng-controller="SingleController">
    <div class="question">
        <div>Q{{getCurItem().index}}: {{getCurItem().content.title}}</div>
        <br>
        <div class="divider">
            <img ng-src="{{curItem.content.img}}" alt="">
        </div>
        <br>
        <br>
        <div class="answers">
            <ul>
                <li style="margin-bottom: 20px" ng-repeat="(aOptionId, aOption) in curItem.content.options">
                    <div class="btn btn-block" ng-click="selectOption(aOptionId)" role="button">
                            {{aOption}}
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>