<div ng-controller="SingleController">
    <div class="question">
        <div>
            <span>Q{{getCurItem().index}}: {{getCurItem().content.title}}</span>
        </div>
        <br>
        <div class="divider">
            <img ng-src="{{curItem.content.img}}" alt="">
        </div>
        <br>
        <br>
        <div class="answers">
            <ul>
                <li style="margin-bottom: 20px" ng-repeat="(aOptionId, aOption) in curItem.content.options">
                    <div class=" btn-block" ng-class="{true:'option_selected', false:'btn'}[hasSelected(aOptionId)]" ng-click="selectOption(aOptionId)" role="button">
                            <!--{{aOption}}-->
                        <img ng-src="{{aOption}}"/>

                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <br><br>
        <div>
            <button ng-click="showBeforeItem()">上一个</button>
            <button ng-show="!!getCurItem().result" ng-click="showNextItem()">下一个</button>
        </div>



    </div>
    <img ng-hide="true"  ng-src="{{getNextTempItem()}}"/>
</div>
